.footer {
    background-color: white;
    color: black;
}

.profile {
    width: 200px;
    /* ukuran default */
    aspect-ratio: 1/1;
    /* pastiin selalu kotak */
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    /* biar nggak lebih lebar dari parent */
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* gambar full tanpa gepeng */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* gambar penuh, gak gepeng */
}

